.soulbook {
    background-image: url("../img/book.jpg");
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  position: relative;
  display: block;
  margin: 0 auto; }


.selector {
      word-wrap: break-word;      /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;      /* current browsers */
      width: 300px;
      margin-left: 25px;
      margin-right: 25px;
}

.handover {
    cursor: pointer;
    cursor: hand;
}

.stacker {
    float: left;
    min-width: 350px;
}

.bookmargin {
      margin-left: 45px;
      margin-right: 45px;
}

.faq {
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    padding: 10px;
    width: auto;
    border: 2px groove #f05f40;
    display: inline-block;
}